.content {
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}

.form-group .form-control {
    border-radius: 0px;
    /* background-color: #fafafa; */

}

.form-group .form-control:first-child {
    border-radius: 5px 5px 0 0;
}

.form-group .form-control:last-child {
    border-radius: 0 0 5px 5px;
}